<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    <div id="mymodal" class="modal fade" role="dialog">
       <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header">
    
                <h4 class="modal-title">Add Employee</h4>
             </div>
             <div class="modal-body">
    
                <form action="{{url_for('createuser')}}" method="POST">
    
    
                   <div class="form-group">
    
                      <label>first_name:</label>
                      <input type="text" class="form-control" name="first_name" required="1">
    
    
                   </div>
    
    
                    <div class="form-group">
    
    
                      <label>last_name:</label>
                      <input type="text" class="form-control" name="last_name" required="1">
    
    
                   </div>
    
                   <div class="form-group">
    
    
                     <label>email:</label>
                     <input type="email" class="form-control" name="email" required="1">
   
   
                  </div>
                  <div class="form-group">
  
  
                    <label>Phone:</label>
                    <input type="number" class="form-control" name="phone" required="1">
  
  
                 </div>
                 <div class="form-group">
 
 
                   <label>password:</label>
                   <input type="text" class="form-control" name="password" required="1">
 
 
                </div>
    
                    <div class="form-group">
    
    
                      <label>role:</label>
                      <input type="text" class="form-control" name="role" required="1">
    
    
                   </div>
                   <div class="form-group">
    
    
                     <label>address</label>
                     <input type="text" class="form-control" name="address" required="1">
   
   
                  </div>
   
    
    
                   <div class="form-group">
    
    
                      <button class="btn btn-primary" type="submit">Add Employee</button>
    
    
                   </div>
    
    
                </form>
    
    
             </div>
             <table class="table table-hover table-dark">

               <tr>

                   <th>first_name</th>
                   <th>last_name</th>
                   <th>email</th>
                   <th>Phone</th>
                   <th>password</th>
                   <th>role</th>
                   <th>address </th>

               </tr>


              {% for row in users %}
               <tr>
                   <td>{{row.first_name}}</td>
                   <td>{{row.last_name}}</td>
                   <td>{{row.email}}</td>
                   <td>{{row.phone}}</td>
                   <td>{{row.password}}</td>
                   <td>{{row.role}}</td>
                   <td>{{row.address}}</td>


               </tr>



               {% endfor %}


           </table>
          </div>
    
    
       </div>
    
    
    </div>
    <title>Document</title>
</head>
<body>
    
</body>
</html>